<div class="row">
<div class="row">
  <div class="text-center">
   <h4 style="color: red; font-weight: 500;">This is just a payment simulation...no actual payment is processed!!!</h4>
  </div>
</div>
<div class="col-4"></div>
<div class="col-4">
<div class="card" style="text-align: center;">
    <div style="border-radius:200px; background: #F8FAF5; text-align: center;">
        <i class="bi bi-check2-circle"></i>
    </div>
      <h1>Payment Received</h1> 
      <p>Thanks for shopping with us!!!<br/>We'll contact you soon...</p>

    <button class="btn btn-outline-success" style="margin: 1rem;" routerLink="/home">Back to Home</button>
    </div>
</div>
<div class="col-4"></div>   
</div> 
